global
    log stdout format raw local0

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    retries 3

# Панель статистики HAProxy (доступна на порту 8404)
frontend stats
    bind *:8404
    mode http
    stats enable
    stats uri /
    stats refresh 10s

# Балансировка AMQP трафика (Порт 5672)
frontend amqp_front
    bind *:5672
    mode tcp
    # Используем roundrobin для распределения соединений
    default_backend amqp_back

backend amqp_back
    balance roundrobin
    # Проверка здоровья: отправляем TCP пакет, ждем ответ.
    # Если нода упала, HAProxy перестает слать туда трафик.
    option tcp-check
    tcp-check connect port 5672
    server db-rabbitmq-node-01 db-rabbitmq-node-01:5672 check inter 5s rise 2 fall 3
    server db-rabbitmq-node-02 db-rabbitmq-node-02:5672 check inter 5s rise 2 fall 3
    server db-rabbitmq-node-03 db-rabbitmq-node-03:5672 check inter 5s rise 2 fall 3

# Балансировка UI Управления (Порт 15672)
frontend mgmt_front
    bind *:15672
    mode tcp
    default_backend mgmt_back

backend mgmt_back
    balance roundrobin
    option tcp-check
    tcp-check connect port 15672
    server db-rabbitmq-node-01_mgmt db-rabbitmq-node-01:15672 check inter 5s rise 2 fall 3
    server db-rabbitmq-node-02_mgmt db-rabbitmq-node-02:15672 check inter 5s rise 2 fall 3
    server db-rabbitmq-node-03_mgmt db-rabbitmq-node-03:15672 check inter 5s rise 2 fall 3
